*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Righteous', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: #c7cdd3;
}
.card{
  width: 100px;
  height: 100px;
  position: relative;

  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.cardBack, .cardFront{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);

  backface-visibility: hidden;
}

.cardFront{
  transform: rotateY(180deg);
  background-color: #101c2c;
}

.flip{
  transform: rotateY(180deg);
}

.cardBack{
  color: #101c2c;
  background-color: #05c3ff;
  font-size: 30px;
}

#score {
  text-align: center;
  margin-left: 40px;
  border-radius: 10px;
  background-color: #b3b8bd;
  padding:10px;
}

.scoreHeader{
  font-size: 1.2rem;
  padding:5px;

}

#scoreTable {
  text-align: center;
  border-spacing: 5px;

}

#scoreTable th, td {
  padding: 8px;
  background-color: #a6e0f1;
  border-radius: 4px;
}


#bestScore, #currentScore {
  text-align: center;
  background-color: #a6e0f1;
  width: 80px;
  border: none;
  font-size: 1.2rem;
  font-weight: bolder;
}

#gameOver{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-size: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#restart{
  padding: 20px;
  font-size: 20px;
  background-color: yellow;
  border: none;
  border-radius: 10px;
  margin-top: 50px;
  transition: background-color 0.4s;
}

#restart:hover {
  background-color: rgb(255, 166, 0);
  font-size: 21px;
}

#gameBoard{
  max-width: 700px;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.red{
  color: red;
}